# log and temporary files
*.log
*.swp

# package and build files
*.class
*.ear
*.jar
*.nar
*.rar
*.tar
*.tar.gz
*.tbz2
*.tgz
*.war
*.zip
.gradle/
build/

# local config
local.properties
localconfig.h

# intellij
.idea/
