{{> header}}
<div class="panel">
    <div class="chart-container">
        <canvas id="energy-data-chart"></canvas>
    </div>
    <div class="daily-stats-container">
        <div class="daily-stats-item-container">
            <div class="daily-stats-item">
                <div class="daily-stats-label">Daily statistics</div>
                <div class="daily-stats-label">Solar energy production</div>
                <div class="daily-stats-label">Energy usage balance</div>
            </div>
            {{#dailyStatistics}}
                <div class="daily-stats-item">
                    <div class="daily-stats-heading">{{date}}</div>
                    <div class="daily-stats-value">{{production}}</div>
                    <div class="daily-stats-value {{result}} daily-stats-tooltip">
                        {{balance}}
                        <span class="semi-opaque-balloon">-{{intake}} +{{output}}</span>
                    </div>
                </div>
            {{/dailyStatistics}}
        </div>
    </div>
    <div class="program-info">{{name}} v{{version}}</div>
{{> footer}}