<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/icons/favicon.png" type="image/png"/>
    <script src="/javascript/chart.min.js"></script>
    <script src="/javascript/energychart.js"></script>

    <title>{{title}}</title>
</head>
<body onload="loadData()">